<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.jewlio.example6"
    versionCode = "10"
    version     = "1.1.0" >

<!-- versionCode is optional and Android only -->

  <name>Toilet-tree</name>

  <description>
      An example for phonegap build docs.
  </description>

  <author href="https://build.phonegap.com" email="jewlio512@gmail.com">
      brianet710
  </author>

</widget>

